<div class="profile-img">
  <img
    class="img-portada"
    src="https://t4.ftcdn.net/jpg/05/17/53/57/360_F_517535712_q7f9QC9X6TQxWi6xYZZbMmw5cnLMr279.jpg"
    alt=""
    *ngIf="
      getPortadaBase64(user?.userData?.foto_portada) == 'data:image;base64,////'
    "
  />
  <img
    class="img-portada"
    [src]="getPortadaBase64(user?.userData?.foto_portada)"
    alt=""
    *ngIf="
      getPortadaBase64(user?.userData?.foto_portada) != 'data:image;base64,////'
    "
  />
  <img
    class="img-perfil"
    [src]="getPortadaBase64(user?.userData?.foto_perfil)"
    alt=""
    *ngIf="
      getPortadaBase64(user?.userData?.foto_portada) != 'data:image;base64,////'
    "
  />
  <img
    class="img-perfil"
    src="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg"
    alt=""
    *ngIf="
      getPortadaBase64(user?.userData?.foto_portada) == 'data:image;base64,////'
    "
  />
  <div class="profile-info text-white">
    <h1>&#64;{{ user?.nombre_usuario }}</h1>
    <div *ngIf="user?.id_rol?.id_rol === 1">
      <h2>Estudiante</h2>
    </div>
    <div *ngIf="user?.id_rol?.id_rol === 2">
      <h2>Creador</h2>
    </div>
  </div>
</div>
