:host ::ng-deep .p-menuitem-link:hover {
  background-color: var(--gray-500);
}

:host ::ng-deep .p-submenu-list {
  background-color: var(--gray-500);
}

:host ::ng-deep .p-menubar .p-menuitem.p-highlight > .p-menuitem-content {
  color: #1d4ed8;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: none;
  border-color: transparent;
}
:host ::ng-deep .p-menuitem-active {
  background-color: black;
}

:host ::ng-deep .p-avatar img {
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

:host ::ng-deep .p-menubar .p-submenu-list {
  padding: 0.5rem 0;
  background: #252525;
  border: 0 none;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  width: 12.5rem;
  border-radius: 6px;
}
