<div class="bg-black-alpha-90">
  <p-menubar
    [model]="items"
    styleClass="bg-white-alpha-10 border-transparent	border-noround text-white	"
  >
    <ng-template pTemplate="start">
      <img
        src="../assets/img/onCodeWeb.png"
        alt=""
        class="h-4rem p-1 cursor-pointer"
        [routerLink]="['/dashboard']"
      />
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a
        pRipple
        class="flex align-items-center p-menuitem-link cursor-pointer"
        [routerLink]="item.routerLink"
        *ngIf="!item.items"
      >
        <div class="text-white">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </div>
        <span
          *ngIf="item.shortcut"
          class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
          >{{ item.shortcut }}</span
        >
      </a>
      <a
        pRipple
        class="flex align-items-center p-menuitem-link cursor-pointer"
        *ngIf="item.items"
        [routerLink]="item.items.routerLink"
      >
        <div class="text-white">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </div>
        <i
          [ngClass]="[
            'pi',
            root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
          ]"
          class="text-white cursor-pointer"
        ></i>
      </a>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="p-d-flex inline-flex">
        <div
          class="p-inputgroup p-component custom-input"
          style="border-radius: 3rem; margin-right: 1rem"
        >
          <input
            type="text"
            pInputText
            [(ngModel)]="query_curso"
            class="p-inputtext p-component"
            style="border: none; border-radius: 3rem 0 0 3rem"
            (keydown.enter)="busquedaCurso()"
          />
          <span
            class="p-inputgroup-addon p-component"
            style="
              background-color: white;
              border: none;
              border-radius: 0 3rem 3rem 0;
            "
          >
            <i class="pi pi-search"></i>
          </span>
        </div>
        <div
          [routerLink]="['/profile']"
          class="cursor-pointer"
          *ngIf="
            getPortadaBase64(user?.userData?.foto_perfil) !=
            'data:image;base64,////'
          "
        >
          <p-avatar
            size="large"
            styleClass="mr-2 "
            shape="circle"
            [image]="getPortadaBase64(user?.userData?.foto_perfil)"
          />
        </div>
        <div
          [routerLink]="['/profile']"
          class="cursor-pointer"
          *ngIf="
            getPortadaBase64(user?.userData?.foto_perfil) ==
            'data:image;base64,////'
          "
        >
          <p-avatar
            size="large"
            styleClass="mr-2"
            shape="circle"
            image="https://t3.ftcdn.net/jpg/05/16/27/58/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV.jpg"
          ></p-avatar>
        </div>
      </div>
    </ng-template>
  </p-menubar>
</div>
