<!-- <div *ngFor="let curso of cursos">
  <h1>{{ curso.nombre_curso }}</h1>
</div> -->

<div class="course-container" *ngFor="let curso of cursos">
  <h1 class="course-title">{{ curso?.nombre_curso }}</h1>
  <p class="course-description">{{ curso?.descripcion }}</p>
  <div class="course-image-container">
    <img
      class="course-image"
      [src]="getPortadaBase64(curso?.portada_curso)"
      alt="Imagen del curso"
    />
  </div>
  <p class="course-details">
    <span>Creador por: {{ curso?.id_creador?.nombre_usuario }}</span>
  </p>
  <p
    class="course-premium"
    [ngClass]="{ premium: curso.premium_curso, free: !curso.premium_curso }"
  >
    {{ curso.premium_curso ? "" : "Gratuito" }}
    <i
      *ngIf="curso.premium_curso"
      class="pi pi-crown text-yellow-600"
      style="font-size: 1em"
    ></i>
  </p>
  <p class="course-price">Precio: ${{ curso.precio_curso }}</p>
  <div class="mr-auto ml-auto grid pl-3 pr-4 pt-2 pb-4">
    <button
      [routerLink]="['/cursos/', curso?.id_curso]"
      pButton
      class="cursor-pointer border-round text-black-alpha-90 bg-white-alpha-30 text-lg p-3 w-auto font-semibold align border-transparent justify-content-center"
    >
      Ver detalles
    </button>
  </div>
</div>
