<!-- <div *ngFor="let curso of cursos">
  <h1>{{ curso.nombre_curso }}</h1>
</div> -->

<div class="course-container" *ngFor="let curso of cursos">
  <h1 class="course-title">{{ curso.nombre_curso }}</h1>
  <p class="course-description">{{ curso.descripcion }}</p>
  <p class="course-details">
    <span>ID Curso: {{ curso.id_curso }}</span>
    <span> | </span>
    <span>ID Creador: {{ curso.id_creador }}</span>
    <span> | </span>
    <span>ID Categoría: {{ curso.id_categoria }}</span>
  </p>
  <p class="course-premium" [ngClass]="{ 'premium': curso.premium_curso, 'free': !curso.premium_curso }">
    {{ curso.premium_curso ? "Premium" : "Gratuito" }}
  </p>
  <p class="course-price">Precio: ${{ curso.precio_curso }}</p>
  <button class="course-button" (click)="onVerDetallesClick(curso.id)">Ver Detalles</button>
</div>



